<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.classmethod.android.sample.googlemapmarker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <permission
        android:name="jp.classmethod.android.sample.googlemapmarker.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="jp.classmethod.android.sample.googlemapmarker.permission.MAPS_RECEIVE" />
    
    <!-- Google API へのアクセス -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- インターネットへのアクセス -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 外部SDカードへの書き込み -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 位置情報の取得 (Wi-Fi経由) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 位置情報の取得 (GPS経由) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- OpenGL ES 2.0 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- value に Google API Key を設定する -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="your_api_key" />

        <activity
            android:name="jp.classmethod.android.sample.googlemapmarker.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>